.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  color: white;
  border: 1px solid #bbbbbb;
  color: rgb(77, 77, 77);
  background-color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  border: 1px solid #2bc3ff;
  color: #2bc3ff;
}
